/* 
    Created by Sándor Király on 03/17/21.

    Copyright © Sándor Király.
    All rights reserved.
*/

#container {
    padding: 30px;
    margin: 0 auto;

    width: 380px;
    height: 400px;

    animation: fadeIn 1s 0s ease-in-out forwards;
}

#container .header {
    height: 200px;
    width: 380px;

    background-image: url("../../../../src/images/header/header.png");
    background-size: 200% 200%;
    background-repeat: no-repeat;

    border-radius: 30px 30px 0 0;
    position: relative;
}

#container .header .undo-list {
    width : 30px;
    height: 30px;

    left: 20px;
    top: 20px;

    position: absolute;
}

#container .header .undo-list i {
    font-size: 25px;
    color: var(--white);
}

#container .header .undo-list i:hover {
    cursor: pointer;
    color: rgb(255, 55, 95);
}

#container .header .save-list {
    width : 30px;
    height: 30px;

    right: 10px;
    top: 20px;

    position: absolute;
}

#container .header .save-list i {
    font-size: 25px;
    color: var(--white);
}

#container .header .save-list i:hover {
    cursor: pointer;
    color: rgb(255, 214, 10);
}

#container .header .popup {
    position: absolute;
    height: 45px;

    left: 18px;
    top: 150px;

    font-size: 20px;
    border: none;

    color: var(--white);
    opacity: 100%;   
}

#container .header .title input {
    font-weight: 700;
    position: absolute;

    height: 45px;
    width: 160px;

    left: 18px;
    top: 80px;

    background-color: transparent;
    font-size: 25px;
    border: none;

    color: var(--white);
    opacity: 100%;
}

#container .header .title input:focus{
    outline: none;
}

#container .header .title input::-webkit-input-placeholder {
    font-weight: 700;
    color: var(--white);
}

#container .header .title input::-moz-placeholder {
    font-weight: 700;
    color: var(--white);
}

#container .header .title input:-ms-input-placeholder {
    font-weight: 700;
    color: var(--white);
}

#container .header .title input:-moz-placeholder {
    font-weight: 700;
    color: var(--white);
}

#container .header .date {
    font-family: "SF Pro Text", "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 100;

    letter-spacing: -0.54px;
    line-height: 25px;
    
    position: absolute;

    left: 20px;
    top: 115px;

    font-size: 20px;
    color: var(--white);

    opacity: 80%;
}

#container .content {
    max-height: 350px;
    height: 350px;
    width: 380px;

    background-color: rgb(34, 34, 36);
    overflow-x: hidden;
}

#container .content::-webkit-scrollbar { 
    width: 5px;
}

#container .content::-webkit-scrollbar-track {
    background-color: rgb(28, 28, 30);
}

#container .content::-webkit-scrollbar-thumb {
    background-color: rgb(44, 44, 46);
}

#container .content::-webkit-scrollbar-thumb:hover {
    background-color: rgb(54, 54, 56);
}

#container .content ul {
    padding: 0;
    margin: 0;

    margin-bottom: 5px;
}

/* Items */

#container .content .item {
    width: 380px;
    min-height: 45px;
    height: 45px;

    border-bottom: 1px solid rgba(72, 72, 74, .5);
    position: relative;
    
    padding: 0;
    margin: 0;

    list-style: none;
    color: var(--white);
}

#container .content .item i.co {
    position: absolute;

    padding-left: 5px;
    left: 15px;
    top: 8px;
    
    font-size: 25px;
}

#container .content .item i.co:hover {
    cursor: pointer;
}

.fa-check-square {
    color: var(--blue);
}

.fa-square {
    color: rgba(72, 72, 74, .5);
    opacity: 70%;
}

.lineThrough {
    text-decoration: line-through;
    opacity: 70%;
}

#container .content .item p.text {
    font-weight: 100;
    
    max-width: 285px;
    position: absolute;

    left: 50px;
    top: 11px;
    
    padding: 0;
    margin: 0;

    font-size: 15px;
}

#container .content .item i.de {
    position: absolute;
    font-size: 18px;

    right: 15px;
    top: 13px;
}

#container .content .item i.de:hover {
    border-radius: 10px;

    cursor: pointer;
}

/* Input */

#container .add-an-item {
    position: relative;

    width: 360px;
    height: 40px;

    padding: 10px;
    background-color: rgb(28, 28, 30);

    border-radius: 0px 0px 30px 30px;
}

#container .add-an-item i {
    position: absolute;
    color: var(--white);

    padding-left: 5px;
    padding-top: 7px;

    font-size: 25px;
}

#container .add-an-item input {
    position: absolute;

    height: 35px;
    width: 310px;

    padding-left:10px;
    left: 50px;

    background-color: transparent;
    font-size: 15px;
    border: none;

    color: var(--white);
    opacity: 100%;
}

#container .add-an-item input:focus{
    outline: none;
}

#container .add-an-item input::-webkit-input-placeholder {
    color: var(--white);
    opacity: 70%;
}

#container .add-an-item input::-moz-placeholder {
    color: var(--white);
    opacity: 70%;
}

#container .add-an-item input:-ms-input-placeholder {
    color: var(--white);
    opacity: 70%;
}

#container .add-an-item input:-moz-placeholder {
    color: var(--white);
    opacity: 70%;
}

/* Keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    } 
}

/* Responsive */

@media (max-width: 680px) {
    .container {
        padding: 60px 0px 0px;
        height: 100px;
    }
}