/* 
    Created by Sándor Király on 03/17/21.

    Copyright © Sándor Király.
    All rights reserved.
*/

.container {
    animation: fadeIn 1s 0s ease-in-out forwards;

    padding: 30px;
    margin: 0 auto;
    
    width: 380px;
    height: 50px;
}

.header {
    height: 200px;
    width: 380px;

    /*
        background-color: rgba(28, 28, 30, 100%);
    */

    background-image: url("../../../src/images/header/header.png");
    background-size: 200% 200%;
    background-repeat: no-repeat;

    border-radius: 30px 30px 0 0;
    position: relative;
}

.header .refresh-list {
    width : 30px;
    height: 30px;

    left: 20px;
    top: 20px;

    position: absolute;
}

.header .refresh-list i {
    font-size: 25px;
    color: var(--white);
}

.header .refresh-list i:hover {
    opacity: 70%;
    cursor: pointer;
}

.header .save-list {
    width : 30px;
    height: 30px;

    right: 20px;
    top: 20px;

    position: absolute;
}

.header .save-list i {
    font-size: 25px;
    color: var(--white);
}

.header .save-list i:hover {
    opacity: 70%;
    cursor: pointer;
}

.header .saved-list {
    width : 30px;
    height: 30px;

    right: 55px;
    top: 20px;

    position: absolute;
}

.header .saved-list i {
    font-size: 25px;
    color: var(--white);
}

.header .saved-list i:hover {
    opacity: 70%;
    cursor: pointer;
}

.header .title input {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    position: absolute;

    height: 45px;
    width: 160px;

    left: 18px;
    top: 80px;

    background-color: transparent;
    font-size: 25px;
    border: none;

    color: var(--white);
    opacity: 100%;
}

.header .title input:focus{
    outline: none;
}

.header .title input::-webkit-input-placeholder {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    color: var(--white);
}

.header .title input::-moz-placeholder {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    color: var(--white);
}

.header .title input:-ms-input-placeholder {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    color: var(--white);
}

.header .title input:-moz-placeholder {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    color: var(--white);
}

.header .date {
    position: absolute;
    
    /*
    line-height: 20px;
    width: 150px;
    */

    left: 20px;
    top: 115px;

    font-size: 20px;
    color: var(--white);

    opacity: 70%;
}

.header .right-flat-image {
    margin-right: 150px;
    margin-top: 25px;

    display: block;
    float: right;

    height: 25px;
    width: 25px;
}

.content {
    max-height: 350px;
    height: 350px;
    width: 380px;

    background-color: rgb(34, 34, 36);
    overflow: auto;
}

.content::-webkit-scrollbar { 
    display: none;
}

.content ul {
    padding: 0;
    margin: 0;

    margin-bottom: 5px;
}

/* Items */

.item {
    width: 380px;
    min-height: 45px;
    height: 45px;

    border-bottom: 1px solid rgba(72, 72, 74, .5);
    position: relative;
    
    padding: 0;
    margin: 0;

    list-style: none;
    color: var(--white);
}

.item i.co {
    position: absolute;

    padding-left: 5px;
    left: 15px;
    top: 10px;
    
    font-size: 25px;
}

.item i.co:hover {
    cursor: pointer;
}

.fa-check-circle {
    color: var(--green);
}

.item p.text {
    max-width: 285px;
    position: absolute;

    left: 50px;
    top: 10px;
    
    padding: 0;
    margin: 0;

    font-size: 15px;
}

.lineThrough {
    text-decoration: line-through;
    opacity: 70%;
}

.item i.de {
    position: absolute;

    font-size: 18px;

    right: 15px;
    top: 13px;
}

.item i.de:hover {
    color: var(--pink);
    cursor: pointer;
}

/* Input */

.add-to-do {
    position: relative;

    width: 360px;
    height: 40px;

    padding: 10px;
    background-color: rgb(28, 28, 30);

    border-radius: 0px 0px 30px 30px;
}

.add-to-do i {
    position: absolute;
    color: var(--white);

    padding-left: 5px;
    padding-top: 7px;

    font-size: 25px;
}

.add-to-do input {
    position: absolute;

    height: 35px;
    width: 310px;

    padding-left:10px;
    left: 50px;

    background-color: transparent;
    font-size: 15px;
    border: none;

    color: var(--white);
    opacity: 100%;
}

.add-to-do input:focus{
    outline: none;
}

.add-to-do input::-webkit-input-placeholder {
    font-family: 'Titillium Web', sans-serif;

    color: var(--white);
    opacity: 70%;
}

.add-to-do input::-moz-placeholder {
    font-family: 'Titillium Web', sans-serif;

    color: var(--white);
    opacity: 70%;
}

.add-to-do input:-ms-input-placeholder {
    font-family: 'Titillium Web', sans-serif;

    color: var(--white);
    opacity: 70%;
}

.add-to-do input:-moz-placeholder {
    font-family: 'Titillium Web', sans-serif;

    color: var(--white);
    opacity: 70%;
}

/* Keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    } 
}

/* Responsive */

@media (max-width: 680px) {
    .container {
        padding: 50px 0px 0px;
        height: 100px;
    }
}