/* 
    Created by Sándor Király on 03/17/21.

    Copyright © Sándor Király.
    All rights reserved.
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --white: #fff;

    --indigo: #622aff;
    --blue: #0e90db;
    --pink: #e94256;
    --green: #0b9e43;
    --azure: #86868b;

    --lighterblack: #212121;
    --darkerblue: #21272E;
}

body {
    background-color: var(--darkerblue); 
    /* #f7f7f7; */

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    scroll-behavior: smooth;

    padding: 0;
    margin: 0;

    font-family: 'Titillium Web', sans-serif;
}

::selection {
    background-color: #0097fc;
    color: var(--white);
    
    text-shadow: none;
}

a {
    letter-spacing: inherit;

    text-decoration: none;
    text-shadow: none;
    
    font-size: 18px;
    color: #06c;
}

.wrapper {
    width: 100%;
}

.wrapper .separator {
    margin-top: 50px;

    max-width: 916px;
    height: 150px;

    margin: 50 auto;
    padding: 0 54px;
}