#tooltip {
    font-weight: 100;

    position: relative;
    display: inline-block;
}
  
#tooltip .tooltip-left {
    visibility: hidden;
    width: 70px;

    background-color: rgba(31, 41, 55, 1);
    color: #fff;

    text-align: center;
    border-radius: 6px;
    
    padding: 5px 0;
    position: absolute;
    
    z-index: 1;

    top: -5px;
    left: 150%;
}
  
#tooltip:hover .tooltip-left {
    visibility: visible;
}

#tooltip:hover .tooltip-left::after {
    content: " ";
    position: absolute;

    top: 50%;
    right: 100%;
    margin-top: -5px;

    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#tooltip .tooltip-right {
    visibility: hidden;
    width: 70px;

    background-color: rgba(31, 41, 55, 1);
    color: #fff;

    text-align: center;
    border-radius: 6px;
    
    padding: 5px 0;
    position: absolute;
    
    z-index: 1;

    top: -5px;
    right: 150%;
    
    margin-left: -60px;
}
  
#tooltip:hover .tooltip-right {
    visibility: visible;
}

#tooltip:hover .tooltip-right::after {
    content: " ";
    position: absolute;

    top: 50%;
    left: 100%;
    margin-top: -5px;

    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }